@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  --primary-box-shadow: rgb(28 28 28 / 8%) 0px 2px 8px;
  --primary-bg: rgb(255, 255, 255);
  --gray: rgb(207, 207, 207);
  --zomato-red: #ff7e8b;
  --zomato-gray: #828282;
  --border-white: rgb(232, 232, 232);
  --inactive-color: #f8f8f8;
  --inactive-text: #696969;
  --filter-text: #9c9c9c;
  --secondary-bg: #f8f8f8;
  --heading-text: #1c1c1c;
  --collection-shadow: rgb(0 0 0 / 8%) 0px 3px 12px;
  --tag-red: #d92662;
  --tag-blue: #256fef;
  --tag-green: #24963f;
  --subtitle-text: #363636;
  --bg-gradient: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.05) 50%,
    rgba(0, 0, 0, 0.05) 85%
  );
}


body {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

@layer components {
  .max-width {
    @apply max-w-[1100px] mx-auto;
  }
  .absolute-center {
    @apply flex justify-center items-center;
  }

  .box {
    box-shadow: rgb(28 28 28 / 8%) 0px 2px 8px;
  }
  .collection-title {
    @apply text-[30px] text-[#1c1c1c] mb-8 font-extrabold;
  }
}

.active-tab {
  border-bottom: 2px solid #ef4f5f;
}

.active-tab .tab-name {
  color: #ef4f5f;
}
.delivery-item-cover {
  box-shadow: rgb(0, 0, 0/8px) 0px 3px 12px;
}

.slick-next:before,
.slick-prev:before {
  color: gray;
}
.explore-card:hover {
  background-color: var(--primary-bg);
  border: 1px solid var(--border-white);
}
.explore-card {
  margin: 12px 0px 24px 0px;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid transparent;
}